@page
@model Server.Pages.IndexModel
@{
	var pageTitle = Resources.PageTitles.Index;
	ViewBag.Title = pageTitle;
}

<div class="container">
	<hr />

	<h3>
		@(Model.FullName)
	</h3>

	<a href="https://getbootstrap.com/docs/5.1/components.navbar/" target="_blank">Navbar</a>

	<hr />
</div>

@*اضافه کردن دو مورد آخر ویدیو 9 به فایل libman.json*@