<footer class="blockquote-footer border-top text-bg-primary text-muted fixed-bottom" dir="ltr">
	<div class="container">
		<span class="text-muted text-black text-lg-start">
			&copy;pouria nosrati
		</span>
	</div>
</footer>